.chart-page {
  .chart-btn {
    margin: 0 0.5rem;
    padding: 4px 1rem;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
  }

  .blue {
    background-color: blue;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }
}
